{{template "header" .}}
<a href="https://masmaint-sample.carkodr.com/mastertables" style="text-decoration: none;" target="_blank">マスメン画面サンプル</a>
<hr>
<div>手順</div>
<ol>
	<li>テーブル定義に沿ってCSVを用意
		（<a href="sample/csv_sample.csv" style="text-decoration: none;"　download>CSVサンプル</a>&nbsp;&nbsp; 
		<a href="https://github.com/kodaimura/masmaint-sample/tree/main/sample" target="_blank">DDLサンプル</a>）
	</li>
	<li>言語・RDBMS・CSVを選択し、自動生成</li>
	<li>
		生成されたプログラムに対し
		<a href="https://github.com/kodaimura/masmaint-cg/tree/main/docs" target="_blank">プログラム起動設定</a>を行う
	</li>
	<li>localhost:設定ポート/mastertables にアクセス</li>
</ol>

<div class="row">
	<div class="col-4">
		<select class="form-select" id="lang">
			<option value="golang" selected>Go 1.18~ (Gin)</option>
		</select>
	</div>
	<div class="col-4">
		<select class="form-select" id="rdbms">
			<option value="postgresql" selected>PostgreSQL</option>
			<option value="mysql">MySQL</option>
			<option value="sqlite3">SQLite3</option>
		</select>
	</div>
</div>
<div class="row align-items-center mt-3">
	<div class="col-8">
		<div class="input-group mb-1">
			<input type="file" class="form-control" id="csv" accept=".csv">
		</div>
	</div>
	<div class="col-auto align-self-start">
		<button type="button" class="btn btn-primary" id="generate">自動生成</button>
	</div>
</div>
&nbsp;&nbsp;&nbsp;

<div id="message" class="overflow-auto" style="max-height: 50vh;"></div>
<script type="text/javascript" src="/js/index.js"></script>
{{template "footer" .}}