* { margin: 0; padding: 0; box-sizing: border-box; }

footer{
    position: absolute;
    bottom: 0;
}

.alert-custom {
    padding-left: 20px;
    height: 35px;
    display: flex;
    align-items: center;
}

.help::before{
    content: "?";
    font-size: 85%;
    margin-right: 5px;
    display: inline-block;
    vertical-align: 2px;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    line-height: 1.5;
    border-radius: 50%;
    background: #888;
    color: #fff;
    font-weight: bold;
}