* { margin: 0; padding: 0; box-sizing: border-box; }

footer{
    position: absolute;
    bottom: 0;
}

.alert-custom {
    padding-left: 20px;
    height: 35px;
    display: flex;
    align-items: center;
}